.dojoPage {
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.dojoPage .pagDijitContainer {
    display: inline-block;
}

.dojoPage ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.dojoPage .pagDijitLoading {
    background: #fff url(img/ajax-loader.gif) no-repeat center center;
}

.dojoPage .pagDijitLoading ul {
    opacity: 0.1;
}

.dojoPage li {
    float: left;
    display: block;
    padding: 0;
}

.esriRtl .dojoPage li {
    float: right;
}

.dojoPage .pagDijitItem {
    margin: 0;
    padding: 4px 12px;
    line-height: 20px;
    font-size: 14px;
    color: #08C;
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #DDD;
    border-left-width: 0;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

.dojoPage .pagDijitLoading .pagDijitItem {
    cursor: default;
}

.dojoPage .pagDijitItem span {
    min-width: 32px;
    display: inline-block;
}

.dojoPage .pagDijitItem:first-child {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.dojoPage .pagDijitItem:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

.dojoPage .pagDijitItem:hover, .dojoPage .pagDijitItem:focus {
    background-color: #f5f5f5;
    color: #08C;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    -o-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.dojoPage .pagDijitItem:active {
    color: #999999;
    cursor: default;
}

.dojoPage .pagDijitSelected, .dojoPage .pagDijitSelected:hover, .dojoPage .pagDijitSelected:focus {
    cursor: default;
    background-color: #08C;
    color: #fff;
}

.dojoPage .pagDijitItemDisabled, .dojoPage .pagDijitItemDisabled:hover, .dojoPage .pagDijitItemDisabled:focus {
    color: #ddd;
    cursor: default;
    background-color: #FAFAFA;
}

.dojoPage .pagDijitClear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
